@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(88, 88, 255);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'ABeeZee', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-size: calc(10px + 1vmin);
}


/* App */

.main {
  text-align: center;
}

.alert {
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}



/* registration */

.reg-p {
  font-size: 25px;
  color: #e2e2e2;
  text-shadow: 1px 1px 1px black;
  padding: 20px;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .signin {
    width: 25%;
  }
}


/* learning */

.learn-header {
  font-size: 25px;
  color: #e2e2e2;
  text-shadow: 1px 1px 1px black;
  padding: 20px;
}
.word-container {
  padding: 20px;
  background-color: #faf600;
  color: rgb(34, 34, 34);
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 25px;
  border-radius: 15px;
}
.guess-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  font-size: 18px;
  color: #e2e2e2;
  text-shadow: 1px 1px 1px black;
}

.DisplayScore-card {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
}
.correct {
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(0, 202, 74);
  border-radius: 5px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
  color: #e2e2e2;
  text-shadow: 1px 1px 1px black;
}
.incorrect {
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(214, 22, 22);
  border-radius: 5px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
  color: #e2e2e2;
  text-shadow: 1px 1px 1px black;
}


/* Dashboard */

li {
  list-style: none;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboard-header {
  color: #e2e2e2;
  text-shadow: 1px 1px 1px black;
}
.word {
  margin: 10px;
  padding: 10px;
  width: 275px;
  background-color: #e2e2e2;
  color: rgb(34, 34, 34);
  border-bottom: 3px solid #999;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  text-decoration: none;
  background-color: #faf600;
  color: rgb(34, 34, 34);
  text-shadow: none;
  font-weight: 700;
  margin: 10px;
  padding: 12px 24px;
  border-radius: 20px;
  border: none;
  border-bottom: 3px solid #0e004b;
  display: inline-block;
}
.btn:hover {
  background-color: #f6f46d;
}

.btn:active {
  border-bottom: 3px solid #f6f46d;
}


/* header */

.Header {
  background-color: #09008d;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  text-shadow: 2px 2px 2px black;
}
.Header a {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  color: #e2e2e2;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #e2e2e2;
}
.nav-wrapper a {
  margin: 10px;
  padding: 20px;
}


/* form */

.Label {
  padding: 10px;
}

.Input {
  margin: 10px;
}


/* button */

.Button {
  text-decoration: none;
  background-color: #09008d;
  color: #e2e2e2;
  text-shadow: 1px 1px 1px black;
  font-weight: 700;
  margin: 10px;
  padding: 12px 24px;
  border-radius: 20px;
  border: none;
  border-bottom: 3px solid #0e004b;
  display: inline-block;
}

.Button:disabled {
  pointer-events: none;
  background-color: #757575;
  border-bottom: 3px solid #444444;
}

.Button:hover {
  background-color: #1100ff;
}

.Button:active {
  border-bottom: 3px solid #1100ff;
}


/* Login */

.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
}
